<script>
  import { formatHex } from 'culori';

  export let color;
  export let element = 'div';

  let backgroundColor;
  $: backgroundColor = color ? formatHex(color) : 'transparent';
</script>

<svelte:element
  this={element}
  class="lch-color-swatch {$$restProps['class'] || ''}"
  style={`background-color: ${backgroundColor}`}
>
  <slot />
</svelte:element>

<style global>
  .lch-color-swatch {
    min-width: 2rem;
    aspect-ratio: 1;
    padding: var(--lch-border-width);
    border: solid var(--lch-border-width) var(--lch-light);
    box-shadow: inset 0 0 0 var(--lch-border-width) var(--lch-dark);
  }
</style>
