<script>
  import { onMount, onDestroy } from 'svelte';
  import tippy from 'tippy.js';
  import { mediaQueryList } from '../app.svelte';

  import { formatColor } from '../lib/d3/color/format.js';
  import { dispatch } from '../lib/dom/events/dispatch.js';
  import { selectContent } from '../lib/dom/index.js';

  import ColorSwatch from './ColorSwatch.svelte';
  import ColorContrasts from './ColorContrasts.svelte';

  export let index;
  export let color;
  export let colorFormat;

  let button;
  let tooltip;
  let tippyInstance;

  onMount(() => {
    tippyInstance = tippy(button, {
      allowHTML: true,
      interactive: true,
      placement: getTooltipPlacement(),
      ignoreAttributes: true,
      trigger: 'mouseenter click',
      content: () => {
        tooltip.removeAttribute('hidden');
        return tooltip;
      },
      // appendTo: () => document.body,
      // Hide tooltip on scroll to limit risks of issues
      onShow() {
        // Scroll events don't bubble so we need to grab them
        // at the capture phase
        window.addEventListener('scroll', closeTooltip, true);
        // Notify of the opening so other tooltips can hide themselves
        dispatch(button, 'tippy-show');
        window.addEventListener('tippy-show', closeTooltip, true);
      },
      onHide() {
        window.removeEventListener('scroll', closeTooltip, true);
        window.removeEventListener('tippy-show', closeTooltip, true);

        // Restore focus to the button if it hasn't been moved to an element outside the popover
        if (tippyInstance.popper.contains(document.activeElement)) {
          button.focus();
        }
      },
    });

    window.instance = tippyInstance;

    mediaQueryList.addEventListener('change', updateTooltipPlacement);
  });

  onDestroy(() => {
    tippyInstance.destroy();
    mediaQueryList.removeEventListener('change', updateTooltipPlacement);
  });

  function closeTooltip() {
    tippyInstance.hide();
  }

  function updateTooltipPlacement() {
    tippyInstance.setProps({
      placement: getTooltipPlacement(),
    });
  }

  function getTooltipPlacement() {
    if (mediaQueryList.matches) {
      return 'right';
    } else {
      return 'bottom';
    }
  }

  let input;

  function focusInput() {
    if (!tippyInstance.state.shown) {
      requestAnimationFrame(() => {
        input.focus();
      });
    }
  }

  function handleTooltipFocusOut(event) {
    // We only want to close the tooltip if focus moved
    // outside of it
    if (!event.target.contains(event.relatedTarget)) {
      closeTooltip();
    }
  }
</script>

<li class="lch-color-set-item" {...$$restProps}>
  <button bind:this={button} class="no-default" on:click={focusInput}>
    <ColorSwatch {color} class="lch-color-set-item__swatch" />
    <span class="lch-visually-hidden">Color {index + 1}</span>
  </button>
  <ColorContrasts {color} class="lch-color-set-item__contrasts" />
  <div
    bind:this={tooltip}
    on:focusout={handleTooltipFocusOut}
    hidden
    id="color-set-{index}"
  >
    <label class="lch-visually-hidden" for="color-{index}"
      >Color {index + 1}</label
    >
    <input
      readonly
      id="color-{index}"
      class="lch-color-input lch-text-align-center"
      value={formatColor(color, { format: colorFormat })}
      on:focus={selectContent}
      bind:this={input}
    />
  </div>
</li>

<style global lang="scss">
  .lch-color-set-item {
    --lch-color-set-item__border-radius: 1rem;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-right: 0.5rem;
    border: solid var(--lch-border-width) var(--lch-light);
    border-radius: var(--lch-color-set-item__border-radius);

    > * + * {
      margin-left: calc(-1 * var(--lch-border-width));
    }

    > :first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    > :last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  .lch-color-set-item__swatch {
    width: 4rem;
    border: 0;
    border-radius: calc(
      var(--lch-color-set-item__border-radius) - var(--lch-border-width)
    );
  }

  .tippy-content {
    z-index: 1;
  }
</style>
