<script>
  import ColorSetItem from './ColorSetItem.svelte';

  export let colors = [];
  export let colorFormat;
  export let positioned;

  function itemStyleAttribute(color) {
    if (positioned) {
      return `--position: ${color.position * 100}%`;
    }
  }
</script>

<ol
  class:lch-color-set--positioned={positioned}
  class="lch-color-set lch-list-unstyled {$$restProps['class'] || ''}"
>
  {#each colors as color, index}
    <ColorSetItem
      {color}
      {index}
      {colorFormat}
      style={itemStyleAttribute(color)}
    />
  {/each}
</ol>

<style global lang="scss">
  .lch-color-set--positioned {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    align-items: start;

    > * {
      position: relative;
      top: var(--position);
      grid-row: 1 / span 1;
      grid-column: 1 / span1;
      transform: translateY(-50%);
    }
  }

  .lch-color-set:not(.lch-color-set--positioned) > * + * {
    margin-top: 1rem;
  }
</style>
