<script>
  export let value;
</script>

<select bind:value {...$$restProps}>
  <option value="hex">Hex</option>
  <option value="rgb">RGB</option>
  <option value="hsl">HSL</option>
  <option value="lch">LCH</option>
</select>
