<script>
  import { parse } from 'culori';
  import ColorFormatSelect from './ColorFormatSelect.svelte';
  import ColorSwatch from './ColorSwatch.svelte';
  import { selectContent } from '../lib/dom/index.js';

  import { createEventDispatcher } from 'svelte';
  import { formatColor } from '../lib/d3/color/format.js';

  const dispatch = createEventDispatcher();

  export let id;
  export let colorFormat;
  export let color;

  let inputElement;
  let formatedColor;

  $: {
    if (color) {
      if (color.input && colorFormat == color.inputFormat) {
        formatedColor = color.input;
      } else {
        formatedColor = formatColor(color, { format: colorFormat });
      }
    } else {
      formatedColor = 'Out of color mesh';
    }
  }

  function handleInput(event) {
    event.preventDefault();

    const parsedColor = parse(inputElement.value);
    if (parsedColor) {
      // Hex colors will parse as RGB, so we need to detect the format
      // at input to ensure they're not unnecessarily converted to rgb
      // as the user types
      if (parsedColor.mode == 'rgb' && inputElement.value[0] == '#') {
        colorFormat = 'hex';
      } else {
        colorFormat = parsedColor.mode;
      }

      // Save the input value and format to restore the exact value
      // the user filled in if it's the same format as asked
      parsedColor.input = inputElement.value;
      parsedColor.inputFormat = colorFormat;

      dispatch('change', parsedColor);
    }
  }
</script>

<div class="lch-color-input">
  <ColorSwatch {color} class="lch-color-input__swatch" />
  <div class="lch-form-field lch-flex-auto">
    <label for={id}>Value</label>
    <input
      {id}
      class="lch-color-input"
      value={formatedColor}
      on:focus={selectContent}
      aria-live="polite"
      aria-atomic="true"
      bind:this={inputElement}
      on:input={handleInput}
      size="21"
    />
  </div>
  <div class="lch-form-field">
    <label for={`${id}-format`}>Format</label>
    <ColorFormatSelect
      id={`${id}-format`}
      bind:value={colorFormat}
      labelAttributes={{ class: 'lch-visually-hidden' }}
    />
  </div>
</div>

<style lang="scss" global>
  @use 'sass:math';

  .lch-color-input {
    display: flex;

    > * {
      flex: none;

      &,
      input,
      select {
        border-radius: 0;
      }
    }

    > * + * {
      margin-left: calc(-1 * var(--lch-border-width));
    }

    > :first-child {
      &,
      input,
      select {
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
      }
    }

    > :last-child {
      &,
      input,
      select {
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
      }
    }

    > :focus-within {
      // No need for position:relative as z-index apply automatically
      // on elements inside flex/grid containers
      z-index: 1;
    }

    &__swatch {
      width: 2.125rem;
    }
  }

  .lch-form-field {
    position: relative;
    z-index: 0;
    // Help input/select fill the whole space in Chrome
    display: grid;

    label {
      position: absolute;
      top: 0;
      left: 0.625rem;
      z-index: 2;
      padding: 0 0.375rem;
      font-size: 87.5%;
      font-weight: calc(var(--lch-font-weight) * 87.5 / 100);
      background: var(--lch-dark);
      // border-radius: 999px;
      transform: translateY(-50%) translateY(-0.0625em);
    }
  }
</style>
