<script>
  export let value;

  function formatContrast(contrast) {
    if (contrast < 3) {
      return '/';
    } else if (contrast < 4.5) {
      return '3';
    } else if (contrast < 7) {
      return '4.5';
    } else {
      return '7';
    }
  }
</script>

<dd class="lch-contrast-value">
  <span>{formatContrast(value)}</span>
  {#if value >= 3}
    <span>+</span>
  {/if}
</dd>
