<script>
  import A11yDialog from './A11yDialog.svelte';
  import DownloadLink from './DownloadLink.svelte';
  import ColorFormatSelect from './ColorFormatSelect.svelte';

  import exportFormats from '../lib/export/formats.js';
  import { formatColor } from '../lib/d3/color/format.js';
  import { selectContent } from '../lib/dom/index.js';

  let exportFormat = 'css';
  let colorSetName = 'colorsetName';

  export let colorFormat;
  export let colors;

  let formatedColors;

  $: formatedColors = colors.map((color) =>
    formatColor(color, { format: colorFormat }),
  );

  let content;

  $: content = exportFormats[exportFormat](formatedColors, {
    colorSetName,
  });
</script>

<A11yDialog aria-labelledby="export-dialog-heading" {...$$restProps}>
  <h1 id="export-dialog-heading">Export color set</h1>
  <form class="lch-spacing-y">
    <div class="lch-form-field">
      <label for="colorset-name">Variable name</label>
      <input id="colorset-name" bind:value={colorSetName} />
    </div>
    <div class="lch-form-field">
      <label for="color-format">Color format</label>
      <ColorFormatSelect id="color-format" bind:value={colorFormat} />
    </div>
    <fieldset>
      <legend>File format</legend>
      {#each Object.keys(exportFormats) as availableExportFormat}
        <div>
          <input
            id="export-format-{availableExportFormat}"
            type="radio"
            name="export_format"
            bind:group={exportFormat}
            value={availableExportFormat}
          />
          <label for="export-format-{availableExportFormat}">
            {availableExportFormat.toUpperCase()}
          </label>
        </div>
      {/each}
    </fieldset>
    <label class="lch-visually-hidden" for="export-preview">Preview</label>
    <textarea
      id="export-preview"
      rows={colors.length + 2}
      class="lch-export-dialog-textarea"
      readonly
      value={content}
      on:focus={selectContent}
    />
    <DownloadLink
      class="lch-export-dialog-download"
      {content}
      fileName={colorSetName}
      format={exportFormat}
    >
      Download
    </DownloadLink>
  </form>
</A11yDialog>

<style global lang="scss">
  .lch-export-dialog-textarea {
    display: block;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.875em;
  }

  .lch-export-dialog-download {
    display: inline-block;
    color: inherit;

    &:hover {
      transform: translateY(-0.125rem);
    }

    &:active {
      transform: scale(0.95);
    }
  }
</style>
