<script>
  import { position } from '../lib/gradient.js';
  import { samples as getSamples, formatHex } from 'culori';

  export let gradient;
  export let samples = 10;
  export let colors = [];
  export let contrastThresholdsColors = [];

  let cssGradientStops;

  $: {
    cssGradientStops = getSamples(samples)
      .map(gradient.interpolate)
      .map(formatHex);
  }
</script>

<div
  class="lch-gradient"
  style="

--gradient-stops: {cssGradientStops.join(', ')}"
  role="presentation"
>
  {#each contrastThresholdsColors as color}
    <div
      class="lch-stop-position--threshold"
      style="

      --stop-color: {formatHex(color)};
      --stop-position: {position(color.l, gradient.stops)}"
    />
  {/each}

  {#each colors as color}
    <div
      class="lch-stop-position"
      style="

      --stop-color: {formatHex(color)};
      --stop-position: {position(color.l, gradient.stops)}"
    />
  {/each}
</div>

<style lang="scss">
  :root {
    --gradient-direction: to bottom;
    --stop-position: 0;
    --lch-stop-position__offset: 0;
  }

  .lch-gradient {
    position: relative;
    width: 2rem;
    min-height: 100px;
    background: linear-gradient(
      var(--gradient-direction),
      var(--gradient-stops)
    );
  }

  %lch-stop-position {
    position: absolute;
    top: calc(var(--stop-position) * 100%);
    right: 0%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--stop-color, white);
    border: solid 1.5px black;
    box-shadow: 0 0 0 1.5px white;
    transform: translate(var(--lch-stop-position__offset), -50%);
  }

  .lch-stop-position {
    @extend %lch-stop-position;

    border-radius: 9999px;
  }

  .lch-stop-position--threshold {
    @extend %lch-stop-position;

    right: auto;
    left: 0;
    transform: translate(calc(-1 * var(--lch-stop-position__offset)), -50%);
  }
</style>
