<script>
  export let load;
  export let exportName = 'default';
  export let loading;

  let promise;

  export async function doLoad() {
    if (!promise) {
      loading = true;
      promise = load().finally(() => (loading = false));
    }
  }
</script>

{#if promise}
  {#await promise}
    <slot name="loading">
      <p>Loading...</p>
    </slot>
  {:then imported}
    <slot name="loaded" component={imported[exportName]} />
  {:catch}
    Error
  {/await}
{:else}
  <slot name="notLoaded" load={doLoad}>
    <button on:click={doLoad}>Load</button>
  </slot>
{/if}
