<script context="module">
  export const SHOW_INSIDE = Symbol('inside');
  export const SHOW_OUTSIDE = Symbol('outside');
</script>

<script>
  import { getContext } from 'svelte';

  import {
    shader,
    setupAttributes,
    createUniforms,
  } from '../../../lib/three/shaders/wireframe.js';
  import {
    BackSide,
    DoubleSide,
    Group,
    Mesh,
    MeshBasicMaterial,
    ShaderMaterial,
  } from 'three';

  import { context } from './Viewer.svelte';

  const { scene } = getContext(context);

  export let geometry;
  export let show = SHOW_OUTSIDE;

  const COLORS_MATERIAL = new MeshBasicMaterial({
    color: 0xffffff,
    vertexColors: true,
  });

  const WIREFRAME_MATERIAL = new ShaderMaterial({
    ...shader,
    uniforms: createUniforms({ thickness: 0.0075 }),
  });

  const group = new Group();

  const colorMesh = new Mesh();
  colorMesh.material = COLORS_MATERIAL;
  colorMesh.onBeforeRender = setMaterialSide;
  group.add(colorMesh);

  const wireframeMesh = new Mesh();
  wireframeMesh.material = WIREFRAME_MATERIAL;
  wireframeMesh.onBeforeRender = setMaterialSide;
  group.add(wireframeMesh);

  $: colorMesh.geometry = geometry;
  $: {
    wireframeMesh.geometry = geometry.toNonIndexed();
    setupAttributes(wireframeMesh.geometry);
  }

  function setMaterialSide() {
    if (show == SHOW_INSIDE) {
      this.material.side = BackSide;
    } else {
      this.material.side = DoubleSide;
    }
  }

  scene.add(group);
</script>
