<script context="module">
  // Allow other components to react to changes of the layout
  export const mediaQueryList = window.matchMedia('(min-width: 834px)');
</script>

<script>
  import LoadableComponent from './ui/LoadableComponent.svelte';
  import ColorSwatch from './ui/ColorSwatch.svelte';
  import ColorSet from './ui/ColorSet.svelte';
  import ExportDialog from './ui/ExportDialog.svelte';
  import Gradient from './ui/Gradient.svelte';
  import GeometryPicker from './ui/form/GeometryPicker.svelte';
  // TODO: Sort out module resolution with query string
  // eslint-disable-next-line import/no-unresolved
  import logo from '../assets/images/logo-color-expanded-optim.svg?url';

  import ColorInput from './ui/ColorInput.svelte';
  // import CoordinatePicker from './CoordinatePicker.svelte';

  import { colorFromPoint } from './lib/color_point.js';

  import {
    geometry,
    selectedColor,
    selectedColorPosition,
    intersection,
    // intersectionOverride,
    extrapolatedPoints,
    colorToContrastAgainst,
  } from './lib/stores/index.js';

  import { createGradient, firstColor, lastColor } from './lib/gradient.js';
  import { findPositionsWithMinimunContrast } from './lib/contrast.js';

  // Keeping this for quick debugging with a starting color
  // eslint-disable-next-line no-unused-vars
  import { lch } from 'culori';

  function handleColorInputChange(event) {
    $selectedColor = event.detail;
    colorFromCameraTarget = null;
  }

  let colorAtIntersection;

  $: {
    if ($intersection) {
      colorAtIntersection = colorFromPoint($intersection.point);
    } else {
      colorAtIntersection = null;
    }
  }

  let colorInputValue;
  $: colorInputValue = $selectedColor;

  let colorFormat = 'lch';

  // Sort colors by increased luminance
  $: extrapolatedColors = $extrapolatedPoints
    .map(colorFromPoint)
    .sort((a, b) => b.l - a.l);

  // Gradient

  let gradient;
  $: gradient = createGradient(extrapolatedColors);

  // Contrast computations

  function handleContrastColorChange(event) {
    $colorToContrastAgainst = event.detail;
    colorFromCameraTarget = null;
  }

  let colorsMatchingContrastRatios = [];

  $: {
    if (gradient && $colorToContrastAgainst) {
      const positionsOfContrastedColors = findPositionsWithMinimunContrast({
        in: gradient,
        against: $colorToContrastAgainst,
      });
      colorsMatchingContrastRatios = Object.entries(positionsOfContrastedColors)
        .map(([contrastRatio, positions]) =>
          positions.map((position) => {
            return {
              ...lch(gradient.interpolate(position)),
              contrastRatio,
              position,
            };
          }),
        )
        .flat();
    }
  }

  let viewerLoading;
  let loadableViewer;

  let cameraIntersection;
  let colorAtCameraIntersection;
  $: {
    if (colorFromCameraTarget && cameraIntersection) {
      colorAtCameraIntersection = colorFromPoint(cameraIntersection.point);
      if (colorFromCameraTargetIsSelected) {
        $selectedColor = colorAtCameraIntersection;
      } else if (colorFromCameraTargetIsContrast) {
        $colorToContrastAgainst = colorAtCameraIntersection;
      }
    }
  }

  let colorFromCameraTarget;
  function updateColorFromCameraTarget(event) {
    loadableViewer.doLoad();
    if (colorFromCameraTarget == event.target.value) {
      colorFromCameraTarget = null;
    } else {
      colorFromCameraTarget = event.target.value;
    }
  }

  let colorFromCameraTargetIsSelected;
  let colorFromCameraTargetIsContrast;
  $: {
    colorFromCameraTargetIsSelected = colorFromCameraTarget == 'selected';
    colorFromCameraTargetIsContrast = colorFromCameraTarget == 'contrast';
  }
</script>

<main>
  <section class="lch-form lch-spacing-y">
    <div class="lch-spacing-y--smaller">
      <GeometryPicker bind:geometry={$geometry} />
    </div>

    <fieldset class="lch-spacing-y" aria-labelledby="main-color-heading">
      <header>
        <h2 id="main-color-heading">Main color</h2>
        <div>
          <label for="selected-color-from-camera">Camera</label>
          <input
            id="selected-color-from-camera"
            type="checkbox"
            class="no-default"
            value="selected"
            on:change={updateColorFromCameraTarget}
            bind:checked={colorFromCameraTargetIsSelected}
          />
        </div>
      </header>

      <div class="lch-color-input-wrapper">
        <ColorInput
          id="main-color"
          bind:colorFormat
          bind:color={colorInputValue}
          on:change={handleColorInputChange}
        />
      </div>
    </fieldset>

    <fieldset class="lch-spacing-y" aria-labelledby="contrast-color-heading">
      <header>
        <h2 id="contrast-color-heading">Contrast against</h2>
        <div>
          <label for="contrast-color-from-camera">Camera</label>
          <input
            id="contrast-color-from-camera"
            type="checkbox"
            class="no-default"
            value="contrast"
            on:change={updateColorFromCameraTarget}
            bind:checked={colorFromCameraTargetIsContrast}
          />
        </div>
      </header>
      <div class="lch-color-input-wrapper">
        <ColorInput
          id="contrast-color"
          colorFormat="lch"
          bind:color={$colorToContrastAgainst}
          on:change={handleContrastColorChange}
        />
      </div>
    </fieldset>
  </section>
  <section class="lch-result">
    <header>
      <h2>Color set</h2>
    </header>
    <output class="lch-color-sets" aria-live="off">
      <ColorSet
        colors={[...colorsMatchingContrastRatios].sort((a, b) => b.l - a.l)}
        {colorFormat}
        positioned={true}
      />
      <div class="lch-color-set-gradient">
        <ColorSwatch color={firstColor(gradient)} />
        <Gradient
          {gradient}
          colors={extrapolatedColors}
          contrastThresholdsColors={colorsMatchingContrastRatios}
        />
        <ColorSwatch color={lastColor(gradient)} />
      </div>
      <ColorSet colors={extrapolatedColors} {colorFormat} />
    </output>

    <button
      class="lch-width-full"
      aria-haspopup="dialog"
      data-a11y-dialog-show="export-dialog"
    >
      Export
    </button>
  </section>
</main>

<aside aria-busy={viewerLoading}>
  <LoadableComponent
    bind:this={loadableViewer}
    bind:loading={viewerLoading}
    load={() => import('./ui/visualization/Visualization.svelte')}
  >
    <svelte:fragment slot="loaded" let:component={Visualization}>
      {#if Visualization}
        <svelte:component
          this={Visualization}
          geometry={$geometry}
          selectedColor={$selectedColor}
          selectedColorPosition={$selectedColorPosition}
          extrapolatedPoints={$extrapolatedPoints}
          intersection={$intersection}
          computeCameraIntersection={!!colorFromCameraTarget}
          bind:cameraIntersection
        />
      {/if}
    </svelte:fragment>
    <svelte:fragment slot="notLoaded" let:load>
      <span class="lch-loading">
        <img src={logo} width="215" height="102" alt="Little Color Hub" />
        <p>
          Expand color systems of
          <a
            href="https://tailwindcss.com/docs/customizing-colors#color-palette-reference"
            >Tailwind</a
          >,
          <a href="https://getbootstrap.com/docs/5.0/customize/color/"
            >Bootstrap</a
          >,
          <a href="https://reasonable.work/colors/">Reasonable colors</a>,
          <a href="https://components.ai/theme/LCH-natural">Components.ai</a>,
          or <a href="https://yeun.github.io/open-color/">Open color</a> with your
          own colors.
        </p>
        <button on:click={load}>Explore in 3D</button>
        <a
          class="lch-about"
          href="https://gitlab.com/romaricpascal/little-color-hub">Learn more</a
        >
      </span>
    </svelte:fragment>
    <svelte:fragment slot="loading" let:load>
      <span class="lch-loading">
        <img src={logo} width="215" height="102" alt="Little Color Hub" />
        <span>Loading...</span>
      </span>
    </svelte:fragment>
  </LoadableComponent>
  <!-- <CoordinatePicker viewportDimensions={viewerDimensions} bind:coordinates /> -->
</aside>
<ExportDialog colors={extrapolatedColors} id="export-dialog" {colorFormat} />

<style global lang="scss">
  @use 'sass:math';

  @import 'src/index';

  main > * {
    // Ensure some spacing allowing for focus rings to fully show
    // but set it on the elements that may be scrollable
    padding: calc(3 * var(--lch-border-width));
  }

  aside {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    aspect-ratio: 1;
    overflow: hidden;
  }

  aside > div {
    place-self: initial;

    /* 
   * Ensures the element won't become
   * larger than the space allocated by the grid
   */
    overflow: hidden;
  }

  aside > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    place-self: center;
  }

  aside > .lch-position-input--h {
    z-index: 1;
    grid-row: 3;
    grid-column: 2;
    place-self: center;
  }

  aside > .lch-position-input--l {
    z-index: 1;
    grid-row: 2;
    grid-column: 3;
    place-self: center;
  }

  aside > a {
    z-index: 1;
    display: inline-block;
    grid-row: 3;
    grid-column: 3;
    width: 3rem;
    height: auto;

    img {
      width: 100%;
    }
  }

  @media not all and (min-width: math.div(834rem, 16)) {
    body {
      display: grid;
      grid-template-rows: 1fr auto;

      > * {
        min-height: 0;
      }
    }

    main {
      overflow: auto;
    }

    aside {
      border-top: solid var(--lch-border-width);

      > a {
        place-self: end;
        width: 2rem;
        margin: 0.5rem;
      }
    }
  }

  // Make layout on two columns if we're have enough space
  @media (min-width: math.div(834rem, 16)) {
    body {
      display: flex;
      overflow: hidden;
    }

    main {
      display: flex;
      flex: none;
      flex-direction: column;
      overflow: hidden;
    }

    aside {
      width: 100%;
      height: 100%;
    }

    .lch-result {
      overflow: auto;
    }
  }

  .lch-color-sets {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1rem;

    > :not(.lch-color-set-gradient) {
      position: relative;
      z-index: 1;
    }
  }

  .lch-color-set-gradient {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: var(--lch-border-width);
    border: solid var(--lch-border-width);
    border-radius: 999px;

    // 1.5 because:
    // - 1 for the padding
    // - 0.5 to center on half border
    --lch-stop-position__offset: calc(50% + var(--lch-border-width) * 1.5);

    [class*='lch-stop-position'] {
      z-index: 1;
    }

    > :first-child {
      border-top-left-radius: 999px;
      border-top-right-radius: 999px;
    }

    > :last-child {
      border-bottom-right-radius: 999px;
      border-bottom-left-radius: 999px;
    }

    > * {
      flex: none;
      border: 0;
      box-shadow: none;
    }
  }

  .lch-loading {
    width: calc(100% - 2rem);
    max-width: 25rem;
    text-align: center;

    > * + * {
      margin-top: 1rem;
    }

    > button,
    > span,
    > a {
      display: table;
      margin-right: auto;
      margin-left: auto;
    }

    > p {
      font-weight: 500;
      line-height: 1.45;
      text-align: left;

      a {
        display: inline-block;
      }
    }
  }

  .lch-result > * + * {
    margin-top: 1rem;
  }

  .lch-result header + * {
    margin-top: 0.5rem;
  }
</style>
