<script context="module">
  export const SELECTION_INSIDE_MESH_CONTEXT = Symbol();
</script>

<script>
  import Viewer from './viewer/Viewer.svelte';
  import ColorMesh, {
    SHOW_INSIDE,
    SHOW_OUTSIDE,
  } from './viewer/ColorMesh.svelte';
  import Point from './viewer/Point.svelte';
  import LCHHelper from './viewer/LCHHelper.svelte';

  // Event logistics
  import { createEventDispatcher } from 'svelte';
  import { createEventForwarder } from '../../lib/svelte/events.js';

  export let geometry;
  export let selectedColor;
  export let selectedColorPosition;
  export let extrapolatedPoints;
  export let intersection;

  const dispatch = createEventDispatcher();
  const forward = createEventForwarder(dispatch);

  export let selectionIsInsideMesh;

  $: {
    if (intersection) {
      // Negative dot product between the face normal (pointing outwards)
      // and the intersection-to-color vector means the point is behind the face
      // so inside the mesh.
      // ThreeJS doesn't seem particularly offended if the intersection-to-color vector
      // is 0, and will return 0, so no need to handle anything special there.
      // Using 0.01 as a little safety for when the selectedColorPosition is very close
      // to the mesh
      selectionIsInsideMesh =
        intersection.face.normal.dot(
          selectedColorPosition.clone().sub(intersection.point),
        ) < -0.01;
    }
  }
</script>

<Viewer {...$$restProps} on:panmove={forward} on:keydown={forward}>
  <ColorMesh
    {geometry}
    show={selectionIsInsideMesh ? SHOW_INSIDE : SHOW_OUTSIDE}
  />

  {#each extrapolatedPoints as extrapolatedPoint}
    <Point
      radius={2}
      position={extrapolatedPoint}
      meshOptions={{ renderOrder: 1 }}
    />
  {/each}

  {#if selectedColor}
    <Point position={selectedColorPosition} meshOptions={{ renderOrder: 2 }} />
  {/if}

  {#if intersection}
    <Point
      radius={1.5}
      position={intersection?.point}
      materialOptions={{ color: 0xffffff }}
      meshOptions={{ renderOrder: 1 }}
    />
  {/if}

  <LCHHelper />
</Viewer>
