<script>
  export let id;
  export let value = 0;
  export let direction = 'horizontal';
  export let unit;
  export let rangeAttributes = {};

  function valueFromInput({ target }) {
    value = parseFloat(target.value);
  }
</script>

<div class="lch-position-input--{direction} {$$restProps['class']}">
  <div class="lch-position-input-field">
    <label for="{id}-input">
      <slot />
      <span class="lch-visually-hidden">Input</span>
    </label>
    <input
      id="{id}-input"
      type="text"
      inputmode="numeric"
      pattern="[0-9]*"
      size="4"
      {value}
      on:input={valueFromInput}
    />
    <span>{unit}</span>
  </div>
  <label for="{id}-range" class="lch-visually-hidden"><slot /> - Slider</label>
  <input
    id="{id}-range"
    type="range"
    orient={direction}
    bind:value
    {...rangeAttributes}
  />
</div>

<style global lang="scss">
  [type='range'] {
    display: block;
  }

  [type='text'] {
    min-width: 2.5em;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    text-align: center;
  }

  .lch-position-input-field {
    width: max-content;
    margin: auto;
  }

  [type='range'][orient='vertical'] {
    margin: auto;
  }

  @supports (-webkit-appearance: slider-vertical) {
    [type='range'][orient='vertical'] {
      // The `-webkit` prefix is required here for Safari
      // `appearance` alone doesn't work for them (though does for Blink based ones)
      // stylelint-disable-next-line property-no-vendor-prefix
      -webkit-appearance: slider-vertical;
      appearance: slider-vertical;
    }
  }
</style>
