<script>
  import {
    Cylindrical,
    Mesh,
    Vector3,
    MeshBasicMaterial,
    DoubleSide,
    Raycaster,
  } from 'three';

  import { pixelRatioStore } from '../../lib/stores/pixel_ratio.js';
  import { resizable } from '../actions/resizable.js';
  import { keyboardEventHandler } from '../../lib/dom/events/keyboard.js';
  import { withDomEvent } from '../../lib/svelte/events.js';
  import { getFirstIntersection } from '../../lib/three/raycaster.js';

  import ColorViewer from './ColorViewer.svelte';
  import PositionInput from './PositionInput.svelte';

  // TODO: Sort out module resolution with query string
  // eslint-disable-next-line import/no-unresolved
  import logo from '../../../assets/images/logo-icon-only-color-optim.svg?url';

  export let geometry;
  export let selectedColor;
  export let selectedColorPosition;
  export let extrapolatedPoints;
  export let intersection;

  let viewerDimensions = {
    width: 1,
    height: 1,
  };
  function updateViewerDimensions(event) {
    // Safari support for `contentBoxSize` is very recent
    // so fallback to legacy `contentRect`
    // https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserverEntry#browser_compatibility
    viewerDimensions = {
      width:
        event.detail.contentBoxSize?.inlineSize ||
        event.detail.contentRect?.width,
      height:
        event.detail.contentBoxSize?.blockSize ||
        event.detail.contentRect?.height,
    };
  }

  const pixelRatio = pixelRatioStore();

  let cameraH = 150;
  let cameraL = 80;
  const cameraC = 300;

  let cameraCoordinates = new Cylindrical();

  $: {
    cameraCoordinates = cameraCoordinates.set(
      cameraC,
      (Math.PI * cameraH) / 180,
      cameraL,
    );
  }

  function setCameraH(value) {
    cameraH = (360 + value) % 360;
  }

  function setCameraL(value) {
    cameraL = clamp(0, value, 100);
  }

  const panCamera = withDomEvent((event) => {
    const { dx, dy } = event.detail;

    const xOffset = (-1 * dx) / viewerDimensions.width;
    setCameraH(cameraH + xOffset * 360);

    const yOffset = dy / viewerDimensions.height;
    setCameraL(cameraL + yOffset * 100);
  });

  const KEYBOARD_OFFSET_X = 10;
  const KEYBOARD_OFFSET_Y = 1;

  const handleKeydown = withDomEvent(
    keyboardEventHandler({
      onArrowUp() {
        setCameraL(cameraL + KEYBOARD_OFFSET_Y);
      },
      onArrowDown() {
        setCameraL(cameraL - KEYBOARD_OFFSET_Y);
      },
      onArrowLeft() {
        setCameraH(cameraH - KEYBOARD_OFFSET_X);
      },
      onArrowRight() {
        setCameraH(cameraH + KEYBOARD_OFFSET_X);
      },
    }),
  );

  function clamp(min, value, max) {
    return Math.max(min, Math.min(value, max));
  }

  // To find the color at the center of camera or under the mouse,
  // we need to use a raycaster, which requires a Mesh rather
  // than just the Geometry.
  // The `DoubleSide` material will allow to intersect also
  // when viewing/pointing to the inside of the holl\ow mesh
  let mesh = new Mesh();
  mesh.material = new MeshBasicMaterial({
    side: DoubleSide,
  });
  $: mesh.geometry = geometry;

  let raycastOrigin = new Vector3();
  let raycastTarget = new Vector3();
  const raycastDirection = new Vector3();
  const raycaster = new Raycaster();

  export let cameraIntersection;
  export let computeCameraIntersection = true;

  // Separate block to avoid useless re-computations
  $: {
    if (computeCameraIntersection) {
      raycastOrigin = raycastOrigin.setFromCylindrical(cameraCoordinates);
      raycastTarget = raycastTarget.set(0, raycastOrigin.y, 0);
      raycastDirection.subVectors(raycastTarget, raycastOrigin).normalize();
      raycaster.set(raycastOrigin, raycastDirection);
      cameraIntersection = getFirstIntersection(raycaster, mesh);
    } else {
      cameraIntersection = null;
    }
  }
</script>

<div use:resizable on:element-resized={updateViewerDimensions}>
  <ColorViewer
    dimensions={viewerDimensions}
    pixelRatio={$pixelRatio}
    cameraPosition={cameraCoordinates}
    {geometry}
    {selectedColor}
    {selectedColorPosition}
    {extrapolatedPoints}
    {intersection}
    on:panmove={panCamera}
    on:keydown={handleKeydown}
  />
</div>
<PositionInput
  class="lch-position-input--h"
  bind:value={cameraH}
  id="camera-h"
  unit="°"
  rangeAttributes={{ min: 0, max: 360, step: 1 }}
>
  H
</PositionInput>
<PositionInput
  class="lch-position-input--l"
  direction="vertical"
  id="camera-l"
  bind:value={cameraL}
  unit="%"
  rangeAttributes={{ min: 0, max: 100, step: 0.5 }}
>
  L
</PositionInput>
<a href="https://gitlab.com/romaricpascal/little-color-hub">
  <img src={logo} width="48" height="48" alt="Learn more" />
</a>
